#text4 {
font-family: Georgia;
font-size: 150%;
background-color: pink;
}
#text5 {
font-family: silom;
font-size: 180%;
background-color: purple;
}
#image3 {
width: 50px;
height: 50px;
}
#image4 {
width: 50px;
height: 50px;
}
#rcorners {
border-radius:25px;
border: 2px solid red;
padding: 15px;
width: 300px;
height: 80px;
font-size:300%;
font-family:apple chancery;
}
#image {
width: 500px;
height: auto;
float: left;
margin-right: 20px;
}
#image2 {
width: 400px;
height: auto;
position: relative;
float: left;
text-align: center;
}
#text {
font-size:170%;
color:orange;
font-family:Futura;
}
#text2 {
font-family:Futura;
color: Yellow;
position: absolute;
font-size: 200%;
left: 0;
top: 30px;
width: 100%;
}
#text3 {
font-family: apple chancery;
color: darkblue;
border-style: dotted;
}
#image5 {
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
}